@{
    ViewBag.Title = "Menu";
}

<!--Informacion de quien a iniciado sesion (Nombre se ususario y rol) -->
<h2>@ViewBag.Title</h2>
<div>
    @if (Session["UserName"] != null)
    {
        <p>Bienvenido, @Session["UserName"]!</p>
        <p>Rol: @(Session["UserRole"].ToString() == "1" ? "Administrador" : "Colaborador")</p>

        <!-- Enlace para cerrar sesión. Redirige a la acción "Logout" del controlador "Login". -->
        @Html.ActionLink("Salir", "Index", "Login")
    }



    else
    {
        <!-- En caso de no estar logeado. -->
        <p>No has iniciado sesión.</p>
        @Html.ActionLink("Iniciar sesion", "Logout", "Login")

    }
</div>

<div class="row">
    <br />

    <div class="col-md-4">
        <a class="btn btn-default" href="@Url.Action("Index", "Documentos", new { area = "" })">
            <img src="~/Content/Multimedia/documentoslogo.png" height="100" width="100" />
            <h2>Documentos</h2>
        </a>
    </div>

    <div class="col-md-4">

        <a class="btn btn-default" href="@Url.Action("Index", "Bodegas", new { area = "" })">
            <img src="~/Content/Multimedia/almacenlogo.png" height="100" width="100" />
            <h2>Bodegas</h2>
        </a>

    </div>

    <div class="col-md-4">

        <a class="btn btn-default" href="@Url.Action("Index", "Colaboradores", new { area = "" })">
            <img src="~/Content/Multimedia/colaboradoreslogo.png" height="100" width="100" />
            <h2>Colaboradores</h2>
        </a>

    </div>


</div>