@model ObservatorioBodega.Models.Bodega

@{
    ViewBag.Title = "Details";
}

@if (Session["UserRole"] != null && Session["UserName"] != null)
{
    if ((int)Session["UserState"] == 1)
    {
        <br />
        <br />
        <h2>Detalles</h2>

        <div>
            <h4>Bodega</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cantidad)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    {
        <h2>Usted ya no posee permisos de acceso.</h2>
    }
}
else
{
    <h2>Inicie sesión para observar el contenido.</h2>
}