@model IEnumerable<ObservatorioBodega.Models.Bodega>
@if (Session["UserRole"] != null && Session["UserName"] != null)
{

    if ((int)Session["UserState"] == 1)
    {
        <br />
        <br />
        <h2>Bodegas</h2>
        <div style="display:flex; justify-content:flex-end; margin-bottom:15px">
            <a href="@Url.Action("Create", "Bodegas")">
                <button type="button" class="btn btn-primary" style="width:175px">
                    <i class="fa-solid fa-plus" style="margin-right:5px"></i>
                    Agregar
                </button>
            </a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Accciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bodega in Model)
                {
                    <tr>
                        <td>@bodega.ID</td>
                        <td>@bodega.Nombre</td>
                        <td>@bodega.Descripcion</td>
                        <td>@bodega.Cantidad</td>
                        <td>
                            <button type="button" class="btn" style="background-color: #96F2B8 "
                                    onclick="editarData(@bodega.ID)">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            @if (Session["UserRole"].ToString() == "1")
                            {
                                <button type="button" class="btn" style="background-color: #FF2819 "
                                        onclick="confirmarEliminacion(@bodega.ID)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script>
    function confirmarEliminacion(ID) {

            if (confirm("¿Estás seguro de que deseas eliminar este dato?")) {
                // Redirigir a la acción de eliminación si el usuario confirma
                window.location.href = '@Url.Action("Eliminar", "Bodegas")/' + ID;
            }


    }
    function editarData(ID) {
            window.location.href = '@Url.Action("Editar", "Bodegas")/' + ID;
    }
        </script>

    }
    else
    {
        <h2>Usted ya no posee permisos de acceso.</h2>
    }

}
else
{
    <h2>Inicie sesión para observar el contenido.</h2>
}